<template>
  <div id="main">
    <span>
      <h2>Invista R$</h2>
      <input v-model="valor">
      <h2>,00</h2>
    </span>
    <vue-slider v-model="valor" :tooltip="'none'" :min="1000" :max="10000"/>
    <span>
      <h2>Prazo</h2>
      <input v-model="prazo">
      <h2>meses</h2>
    </span>
    <vue-slider v-model="prazo" :tooltip="'none'" :min="6" :max="60"/>

    <h1>{{ juros }}% de juros</h1>
    <h1>R$ {{ total }} resgatados</h1>

    <br/>

    <h2>Tesouro Poupança: R$ {{ poupanca }}</h2>
    <h2>Tesouro Selic: R$ {{ selic }}</h2>
    <h2>100% CDI: R$ {{ cdi }}</h2>

    <display/>
  </div>
</template>

<script>
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/antd.css";

const matrizJuros = [
  // 1k, 2.5k, 5k, 10k
  [0.5, 0.55, 0.6, 0.65], // 181 dias 6 meses
  [0.7, 0.75, 0.8, 0.9], // 365 dias 12 meses
  [0.8, 0.85, 0.9, 1], // 730 dias 24 meses
  [0.9, 0.95, 1, 1.1], // 1095 dias 36 meses
  [1, 1.05, 1.1, 1.2], // 1460 dias 48 meses
  [1.1, 1.15, 1.2, 1.3] // 1825 dias 60 meses
];

const calcularJuros = (valor, prazo) => {
  let x, y;

  if (valor >= 10000) x = 3;
  else if (valor >= 5000) x = 2;
  else if (valor >= 2500) x = 1;
  else if (valor >= 1000) x = 0;

  if (prazo >= 60) y = 5;
  else if (prazo >= 48) y = 4;
  else if (prazo >= 36) y = 3;
  else if (prazo >= 24) y = 2;
  else if (prazo >= 12) y = 1;
  else if (prazo >= 6) y = 0;

  return matrizJuros[y][x];
};

const totalResgatado = (valor, prazo, juros) => {
  return Math.round((valor * Math.pow(1 + juros / 100, prazo) + Number.EPSILON) * 100) / 100;
};

export default {
  name: "Calculator",
  components: {
    VueSlider
  },
  data() {
    return {
      valor: 1000,
      prazo: 6
    };
  },
  computed: {
    juros: function() {
      return calcularJuros(this.valor, this.prazo);
    },
    total: function() {
      return totalResgatado(this.valor, this.prazo, this.juros);
    },
    poupanca: function() {
      return totalResgatado(this.valor, this.prazo, 0.13);
    },
    selic: function() {
      return totalResgatado(this.valor, this.prazo, 0.173);
    },
    cdi: function() {
      return totalResgatado(this.valor, this.prazo, 0.25);
    }
  }
};
</script>

<style>
span {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 1.5rem;
  text-align: right;
  width: 5rem;
  margin-left: 0.6rem;
  margin-right: 0.2rem;
}
</style>